<textarea cols="30" rows="5" id="bootcamp-review-form" name="comment[text]" placeholder='Bootcamp'></textarea>

<textarea cols="30" rows="5" id="instructor-review-form" name="comment[text]" placeholder='Instructor'></textarea>

<button id="review-submit" class="btn btn-default">Submit</button>