<footer>
        <div class="splitter"></div>
        <ul>
            <li>
                <div class="icon" data-icon="c"></div>
                <div class="text">
                    <h4>About</h4>
                        <div>We are a team of beer drinkers that love to code. We got together to build this website in the hopes that it helps someone in their programming journey.</div>
                </div>
            </li>
            <li>
                <div class="icon" data-icon="h"></div>
                <div class="text">
                    <h4>Hire us!</h4>
                        <div>We are looking for jobs. Our qualifications? You are looking at it. We built this. </div>
                   
                </div>
            </li>
            <li>
                <div class="icon" data-icon="f"></div>
                <div class="text">
                    <h4>Social</h4>
                        <div>We love to get down. Watch us nae-nae!</div>
                  
                </div>
            </li>
        </ul>

        <div class="bar">
            <div class="bar-wrap">
                <ul class="links"> <!-- footer menu -->
                    <li><a href="#">Home</a></li>
                    <li><a href="#">License</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">About</a></li>
                </ul>

                <div class="social">
                    <!-- social icons are here -->
                </div>
                <div class="clear"></div>
                <div class="copyright">&copy;  2014 All Rights Reserved</div>
            </div>
        </div>
    </footer>
