<nav class="navbar navbar-inverse bootcamp_nav navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="home_brand">
        <a class="navbar-brand bootcamp_brand" href="/">Home</a>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul id="navbar-ul" class="nav navbar-nav home_nav_button navbar-right">

          
          <% if !!current_user.id %>
            <li><a href="/users/<%= current_user.id %>" type="button">Profile</a></li>
            <li><a href="/users/<%= current_user.id %>" type="button">Logout</a></li>
          <% else %>
            <li><button class="btn btn-default" id="slide1_button">Reviews</button></li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>
