<nav class="navbar navbar-custom navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Bootcamp Home", root_path, { :class=>"signup_link navbar-brand" } %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
              <ul class="nav navbar-nav navbar-right">
                <button class="btn btn-default" id="slide1_button">Reviews</button>

                <button class="btn btn-default" id="slide2_button">Courses</button>

                <button class="btn btn-default" id="slide3_button">Teachers</button>

                <button class="btn btn-default" id="slide4_button">Contact</button>

              </ul>
      </ul>
    </div>
  </div>
</nav>


<!-- { :class=>"signup_link" } -->