<nav class="navbar navbar-custom navbar-inverse">
  <div class="container-fluid">
    <div class="brand">
        Brand
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <a data-toggle="modal" href="#signup-modal" class="btn">Sign Up</a>
      </ul>
    </div>
  </div>
</nav>