<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Brand", root_path, { :class=>"navbar-brand" } %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav navbar-right">
            <a data-toggle="modal" href="#signup-modal" class="btn btn-default">Sign Up</a>
          </ul>
      </ul>
    </div>
  </div>
</nav>