<head>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body class="home_body">
    <%= render 'partials/nav_home' %>
    <%= render 'partials/login_modal' %>
    <%= render 'partials/signup_modal' %>

    


</body>
