<head>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body class="home_body">
    <%= render 'partials/nav_home' %>
    <%= render 'partials/login_modal' %>
    <%= render 'partials/signup_modal' %>
    <div class="homepage_top_image">
    	<img class="homepage_image" src="https://images.unsplash.com/7/Top_view.jpg?q=80&fm=jpg&s=4afed7e6e559be491437a10cec9120a8">
    </div>

    <div class="blurb_div">
    	<p class="css_text">View, find, and review</p>
    	<p class="css_text"> the best bootcamp for you!<span class="typing_span">|</span></p>
    </div>

    <div class="course_logo_div">
    </div>

    <div class="search_bar"> 
	    <form action="sphider/search.php" method="get"> 
	    	<input class="search_box" type="text" name="query" id="query" size="40" value=""><br>
	    	<input class="search_button" type="submit" value="Search For Your Bootcamp!"> 
	    </form> 
    </div> 

</body>
