<head>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body class="home_body">
    <%= render 'partials/nav_home' %>
    <%= render 'partials/login_modal' %>
    <%= render 'partials/signup_modal' %>
    <div class="homepage_top_image">
    	<img class="homepage_image" src="https://images.unsplash.com/7/Top_view.jpg?q=80&fm=jpg&s=4afed7e6e559be491437a10cec9120a8">
    </div>

    <div class="blurb_div">
    	<p class="css_text">View, find, and review the</p>
    	<p class="css_text"> best bootcamp for you!<span class="typing_span">|</span></p>
    </div>


    <div class="search_bar">
	    <form action="sphider/search.php" method="get">
	    	<input class="search_box" type="text" name="query" id="query" size="40" value=""><br>
	    	<input class="search_button" type="submit" value="Search For Your Bootcamp!">
	    </form>
    </div>

    <div class="course_logo_div">
    	<div class="sf_courses">
    		<p><u>San Francisco Web Developer Boot Camps</u></p>
    	</div>
    	<table class="course_table" style="width:70%">
    	  	<tr>
    	    	<td class="table_cell"><a href="http://devbootcamp.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/876/s100/dbc-t-profile-400x400px.jpg"></a><br>Dev Bootcamp</td>
    	    	<td class="table_cell"><a href="https://generalassemb.ly/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/813/s100/ga-logo-2-compressor.png"></a><br>General Assembly</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="http://www.appacademy.io/#p-home"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/551/s100/margin-red-1000.png"></a><br>App Academy</td>
    	    	<td class="table_cell"><a href="http://www.hackreactor.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/8/s100/hack-reactor-logo.png"></a><br>Hack Reactor</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="https://hackbrightacademy.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/84/s100/hackbright-academy-logo.jpg"></a><br>Hackbright Academy</td>
    	    	<td class="table_cell"><a href="http://www.rocketu.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/11/s100/rocket-u-logo.png"></a><br>Rocket U</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="https://codepath.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/60/s100/codepath-logo.png"></a><br>CodePath</td>
    	    	<td class="table_cell"><a href="http://www.zipfianacademy.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/53/s100/zipfian-academy-logo.png"></a><br>Zipfian Academy</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="http://www.codingdojo.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/818/s100/codingdojo-coursereport-final2.png"></a><br>Coding Dojo</td>
    	    	<td class="table_cell"><a href="https://www.bignerdranch.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/420/s100/big-20nerd-20ranch-20logo.jpeg"></a><br>Big Nerd Ranch</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="http://www.joinkoru.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/449/s100/koru-logo.png"></a><br>Koru</td>
    	    	<td class="table_cell"><a href="http://www.hackercodingacademy.com/"><img class="bootcamp_logo" src="http://www.bootcamps.in/wp-content/uploads/2014/12/Hacker-coding-academy.png"></a><br>Hacker Coding Academy</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="https://www.codercamps.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/907/s100/coder-camps-logo.png"></a><br>Coder Camps</td>
    	    	<td class="table_cell"><a href="http://www.thisismetis.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/75/s100/metis-logo.png"></a><br>Metis</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="http://www.productschool.com/"><img class="bootcamp_logo" src="http://photos1.meetupstatic.com/photos/event/8/6/f/d/global_441574557.jpeg"></a><br>Product School</td>
    	    	<td class="table_cell"><a href="http://hackership.co/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/357/s100/hackership-ca-20logo.jpeg"></a><br>Hackership San Francisco</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="http://www.academyx.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/496/s100/534060-490554834301336-1306359062-n.jpg"></a><br>Academy X</td>
    	    	<td class="table_cell"><a href="http://www.codestreamlabs.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/523/s100/zp4k3njq.png"></a><br>CodeStream Labs</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="https://www.invasivecode.com/index.html"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/535/s100/539484-357095604381777-623183327-n.png"></a><br>iNVASIVECODE</td>
    	    	<td class="table_cell"><a href="http://codifyacademy.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/631/s100/codifyacademylogo.png"></a><br>Codify Academy</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="http://www.tradecrafted.com/"><img class="bootcamp_logo" src="https://pbs.twimg.com/profile_images/556180875230982144/56ij2vrb.jpeg"></a><br>Tradecraft</td>
    	    	<td class="table_cell"><a href="http://www.makersquare.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/268/s100/makersquare-logo.png"></a><br>MakerSquare</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="http://firebootcamp.com/"><img class="bootcamp_logo" src="https://pbs.twimg.com/profile_images/420608140619431936/BB9NLLfh.png"></a><br>Fire Bootcamp</td>
    	    	<td class="table_cell"><a href="https://www.makeschool.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/154/s100/makegameswithus-logo.png"></a><br>Make School</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="http://marcademy.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/203/s100/marcademy-logo.jpeg"></a><br>Marcademy</td>
    	    	<td class="table_cell"><a href="http://www.galvanize.com/courses/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/744/s100/1982192-823446997671475-891607919-n.png"></a><br>Galvanize</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="http://mobilemakers.co/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/24/s100/mobile-makers-academy-logo.png"></a><br>Mobile Makers Academy</td>
    	    	<td class="table_cell"><a href="https://squareup.com/code-camp"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/380/s100/square-code-camps-logo.png"></a><br>Square Code Camp</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="https://www.coursereport.com/schools/apprentice-io"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/529/s100/apprentice-150x150.png"></a><br>Apprentice.io</td>
    	    	<td class="table_cell"><a href="http://www.anyonecanlearntocode.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/85/s100/anyone-can-learn-to-code-logo.png"></a><br>Anyone Can Learn To Code</td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><a href="https://www.thinkful.com/a/coursereport"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/484/s100/thinkful-logo-new.png"></a><br>Thinkful</td>
    	    	<td class="table_cell"><a href="https://learntechlabs.com/"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/655/s100/10991092-1557214664556952-1631320059625397375-n.jpg"></a><br>LearnTech Labs</td>
    	    </tr>
    	</table>
    </div>

</body>
