<head>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body class="home_body">
    <%= render 'partials/nav_home' %>
    <%= render 'partials/login_modal' %>
    <%= render 'partials/signup_modal' %>
    <div class="homepage_top_image">
    	<img class="homepage_image" src="https://images.unsplash.com/7/Top_view.jpg?q=80&fm=jpg&s=4afed7e6e559be491437a10cec9120a8">
    </div>

    <div class="blurb_div">
    	<p class="css_text">View, find, and review</p>
    	<p class="css_text"> the best bootcamp for you!<span class="typing_span">|</span></p>
    </div>

    <div class="search_bar"> 
	    <form action="sphider/search.php" method="get"> 
	    	<input class="search_box" type="text" name="query" id="query" size="40" value=""><br>
	    	<input class="search_button" type="submit" value="Search For Your Bootcamp!"> 
	    </form> 
    </div> 

    <div class="course_logo_div">
    	<div class="sf_courses">
    		<p><u>San Francisco Web Developer Boot Camps</u></p>
    	</div>
    	<table class="course_table" style="width:70%">
    	  	<tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/876/s100/dbc-t-profile-400x400px.jpg"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/813/s100/ga-logo-2-compressor.png"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/551/s100/margin-red-1000.png"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/8/s100/hack-reactor-logo.png"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/84/s100/hackbright-academy-logo.jpg"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/11/s100/rocket-u-logo.png"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/60/s100/codepath-logo.png"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/53/s100/zipfian-academy-logo.png"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/818/s100/codingdojo-coursereport-final2.png"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/420/s100/big-20nerd-20ranch-20logo.jpeg"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/449/s100/koru-logo.png"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/211/s100/hacker-coding-academy.png"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/907/s100/coder-camps-logo.png"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/75/s100/metis-logo.png"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/649/s100/productschool-logo-long-box-20-1-.png"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/357/s100/hackership-ca-20logo.jpeg"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/496/s100/534060-490554834301336-1306359062-n.jpg"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/523/s100/zp4k3njq.png"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/535/s100/539484-357095604381777-623183327-n.png"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/631/s100/codifyacademylogo.png"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/825/s100/tradecraft-logo.png"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/268/s100/makersquare-logo.png"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/149/s100/firebootcamp-logo-retina.png"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/154/s100/makegameswithus-logo.png"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/203/s100/marcademy-logo.jpeg"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/744/s100/1982192-823446997671475-891607919-n.png"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/24/s100/mobile-makers-academy-logo.png"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/380/s100/square-code-camps-logo.png"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/529/s100/apprentice-150x150.png"></td>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/655/s100/10991092-1557214664556952-1631320059625397375-n.jpg"></td>
    	    </tr>
    	    <tr>
    	    	<td class="table_cell"><img class="bootcamp_logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/484/s100/thinkful-logo-new.png"></td>
    	    	<td></td>
    	    </tr>
    	</table>
    </div>

</body>







