<head>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body class="home_body">
    <%= render 'partials/nav_home' %>
    <%= render 'partials/login_modal' %>
    <%= render 'partials/signup_modal' %>
    <div>
    	<img class="homepage_image" src="https://images.unsplash.com/reserve/6HJtLkJSDqjqlE2NipEu_macbook.jpg?q=80&fm=jpg&s=382783f80b4fb064187d48fc5c3994bb">
    </div>

</body>
