<!DOCTYPE html>

<html>
	<head>
	  <meta charset="utf-8" />
	  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	  <link rel="shortcut icon" href="http://static.iconsplace.com/icons/preview/black/notebook-256.png">
	  <%= render 'partials/nav_show' %>
	</head>
	<body>

		<a name="home_link"></a>
		<div id="home" class="slide">
		  <img class="ga_logo" src="http://dru-cdn.zipcar.com/sites/default/files/general_assembly_logo.png">
		  <p class="ga_text">General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned.</p>
		</div>

		<a name="slide1"></a>
		<div id="slide1" class="slide">
		</div>

		<a name="slide2"></a>
		<div id="slide2" class="slide">
		</div>

		<a name="slide3"></a>
		<div id="slide3" class="slide header">
		</div>

		<a name="slide4"></a>
		<div id="slide4" class="slide header">
		</div>

	</body>
</html>
