

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-responsive" src="https://images.unsplash.com/19/desktop.JPG?q=80&fm=jpg&s=10cf10aead07bd0897cc50bccc63ac07" alt="">
            </div>
                <div class="col-lg-4 intro-text">
                    <span class="name">General Assembly</span>
                    <hr class="star-light">
	                    <div class="bootcamp-info">
	                    	<ul class="column top" style="list-style:none;">
	                    			<li>225 Bush St, San Francisco CA 94107</li>
	                    			<li>www.ga.com</li>
	                    			<li>123-123-1234</li>
	                    			<li>email@email.com</li>
	                    	</ul>
	                    
	                    	<ul class="column under" style="list-style:none;">
	                    		<h4>Courses offered</h4>
	                    			<li>Course 1</li>
	                    			<li>course 2</li>
	                    			<li>Course 3</li>
	                    	</ul>
	                    </div> 
        		</div>
        </div>
    <hr class="star-light">
    <p>Insert button here</p>
</header>




<div class="container">
	<div class="row">
		<h1>Reviews</h1>
		<div class="col-lg-8 col-xs-6">
			
			<!--First Review-->
			<div class="col-lg-12" id="review">
				<div class="col-lg-3 photo">
					<ul style="list-style:none;">
						<li>user photo</li>
						<li>username</li>
					</ul>
				</div>
				<h4>Title: This is really amazing!</h4>
				<p>General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned.</p>
			</div>
			<!--End of Review-->
			<!--Next Review-->
			<div class="col-lg-12" id="review">
				<div class="col-lg-3 photo">
					<ul style="list-style:none;">
						<li>user photo</li>
						<li>username</li>
					</ul>
				</div>
				<h4>Title: This is really amazing!</h4>
				<p>General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned. </p>
			</div>
			<!--End of Review-->
			<!--Next Review-->
			<div class="col-lg-12" id="review">
				<div class="col-lg-3 photo">
					<ul style="list-style:none;">
						<li>user photo</li>
						<li>username</li>
					</ul>
				</div>
				<h4>Title: This is really amazing!</h4>
				<p>General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned</p>
			</div>
			<!--End of Review-->

	</div>
			<!-- Sidebar -->
		<div class="col-lg-3 col-xs-6 photo">
			<ul>
				<h5>More Information</h5>
				<li>hours</li>
				<li>hours</li>
				<li>hours</li>
				<li>hours</li>
				<li>hours</li>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->

</div>








<!--
<a name="home_link"></a>
<div id="home" class="slide">
  <img class="ga_logo" src="http://dru-cdn.zipcar.com/sites/default/files/general_assembly_logo.png">
  <div class="ga_text">General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned.</div>
</div>

<a name="slide1"></a>
<div id="slide1" class="slide">
</div>

<a name="slide2"></a>
<div id="slide2" class="slide">
</div>

<a name="slide3"></a>
<div id="slide3" class="slide header">
</div>

<a name="slide4"></a>
<div id="slide4" class="slide header">
</div>


-->

