
<%= render 'partials/nav_show' %>

<div class="bootcamp-header">
	<div class="bootcamp-photo">
		<p>logo/image</p>
	</div>

	<div class="bootcamp-info">
		<ul class="column left">
			<p>bootcamp name<p>
				<li>bootcamp address</li>
				<li>Bootcamp Website</li>
				<li>phone</li>
		</ul>
		<ul class="column right">
			<p>Courses offered<p>
				<li>Course 1</li>
				<li>course 2</li>
				<li>Course 3</li>
		</ul>
	</div> 
</div>



<a name="home_link"></a>
<div id="home" class="slide">
  <img class="ga_logo" src="http://dru-cdn.zipcar.com/sites/default/files/general_assembly_logo.png">
  <div class="ga_text">General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned.</div>
</div>

<a name="slide1"></a>
<div id="slide1" class="slide">
</div>

<a name="slide2"></a>
<div id="slide2" class="slide">
</div>

<a name="slide3"></a>
<div id="slide3" class="slide header">
</div>

<a name="slide4"></a>
<div id="slide4" class="slide header">
</div>

