

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-responsive" src="https://images.unsplash.com/19/desktop.JPG?q=80&fm=jpg&s=10cf10aead07bd0897cc50bccc63ac07" alt="">
            </div>
                <div class="col-lg-4 intro-text">
                    <span class="name">General Assembly</span>
                    <hr class="star-light">
	                    <div class="bootcamp-info">
	                    	<ul class="column top" style="list-style:none;">
	                    			<li>225 Bush St, San Francisco CA 94107</li>
	                    			<li>www.ga.com</li>
	                    			<li>123-123-1234</li>
	                    			<li>email@email.com</li>
	                    	</ul>
	                    
	                    	<ul class="column under" style="list-style:none;">
	                    		<h4>Courses offered</h4>
	                    			<li>Course 1</li>
	                    			<li>course 2</li>
	                    			<li>Course 3</li>
	                    	</ul>
	                    </div> 
        		</div>
        </div>
    <hr class="star-light">
    <button type="button" class="btn btn-default">Submit a Review!</button>
</header>

<!--Partials Nav bar-->
<%= render 'partials/nav_show' %>


<!--Review Section-->
<div class="container">
	<div class="row">
		<h1>Reviews</h1>
		<div class="col-lg-8 col-sm-12">
			
			<!--First Review-->
			<div class="col-lg-12 col-sm-12" id="review">
				<div class="col-lg-3 col-md-3 col-xs-12 user-review-info">
					<ul style="list-style:none;">
						<li class="user-photo"><img src="http://2016rotarypresidentialconferencemanila.org/wp-content/uploads/2015/05/user-icon-silhouette.png"></li>
						<li>username</li>
						<li>date posted</li>
					</ul>
				</div>
				<div class="col-lg-9 col-md-9 col-xs-12">
					<div class="col-lg-12 title-ratings">
						<h4>Title: This is really amazing!</h4>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Overview</p></div>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Job Search </p></div>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Instructors</p></div>

						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Location</p></div>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Worth the?</p></div>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Found a job?</p></div>
					</div>

					<div class="col-lg-12 review">
						<p>General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned.General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned.</p>
					</div>
					<h5 class="more"><a href="#" class="button">Read More...</a></h5>

				</div>
			</div>
			<!--End of Review-->
			<!--Next Review-->
						<div class="col-lg-12 col-sm-12" id="review">
				<div class="col-lg-3 col-md-3 col-xs-12 user-review-info">
					<ul style="list-style:none;">
						<li class="user-photo"><img src="http://2016rotarypresidentialconferencemanila.org/wp-content/uploads/2015/05/user-icon-silhouette.png"></li>
						<li>username</li>
						<li>date posted</li>
					</ul>
				</div>
				<div class="col-lg-9 col-md-9 col-xs-12">
					<div class="col-lg-12 title-ratings">
						<h4>Title: This is really amazing!</h4>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Overview</p></div>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Job Search </p></div>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Instructors</p></div>

						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Location</p></div>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Worth the?</p></div>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Found a job?</p></div>
					</div>

					<div class="col-lg-12 review">
						<p>General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned.General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned.</p>
					</div>
					<h5 class="more"><a href="#" class="button">Read More...</a></h5>

				</div>
			</div>
			<!--End of Review-->
			<!--Next Review-->
						<div class="col-lg-12 col-sm-12" id="review">
				<div class="col-lg-3 col-md-3 col-xs-12 user-review-info">
					<ul style="list-style:none;">
						<li class="user-photo"><img src="http://2016rotarypresidentialconferencemanila.org/wp-content/uploads/2015/05/user-icon-silhouette.png"></li>
						<li>username</li>
						<li>date posted</li>
					</ul>
				</div>
				<div class="col-lg-9 col-md-9 col-xs-12">
					<div class="col-lg-12 title-ratings">
						<h4>Title: This is really amazing!</h4>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Overview</p></div>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Job Search </p></div>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Instructors</p></div>

						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Location</p></div>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Worth the?</p></div>
						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Found a job?</p></div>
					</div>

					<div class="col-lg-12 review">
						<p>General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned.General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned. General assembly text about what courses can be taken and what can be learned.</p>
					</div>
					<h5 class="more"><a href="#" class="button">Read More...</a></h5>

				</div>
			</div>
			<!--End of Review-->
	</div>
			<!-- Sidebar -->
		<div class="col-lg-3 col-xs-12 photo">
			<ul>
				<h5>More Information</h5>
				<li>hours</li>
				<li>hours</li>
				<li>hours</li>
				<li>hours</li>
				<li>hours</li>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->

	</div>
</div>


<%= render "partials/footer_show" %>








