

/*----------------------------------------------*/
              /*Melissa's CSS*/
/*----------------------------------------------*/


header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

.img-responsive {
  max-width: 200px;
  max-height: 200px;
  border: solid white 10px;

}
.bootcamp-header {
  background-color: red;
  position: relative;
  display: inline-block;
}

#review {
  margin-bottom: 30px;
  margin-top: 30px;
}
.column {
  text-align: left;
  text-decoration: none;
}

.under li {
  display: inline;
}

.header-image {
  position: absolute;
  width: 100%;
}

.bootcamp-photo {
  position: absolute;
  width: 100%;
  float: left;

}

.bootcamp-info {
  float: left;
  padding-right: 50px;
}


/*----------------------------------------------*/
              /*Bootcamp Show CSS*/
/*----------------------------------------------*/

.home_nav_button > li > button {
  background-color: transparent;
  text-decoration: none;
  color: white;
  border: none;
  font-size: 30px;
  outline: none;
}

.home_brand .bootcamp_brand {
    margin-left: -35px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: transparent;
    outline: none;
}

.home_nav_button > li > button:hover {
  text-decoration: none;
  background-color: transparent;
  color: rgb(128,128,128);
}

@media screen and (max-width: 375px) {
    #myNavbar {
     background-color: black;
    }
}


/*----------------------------------------------*/
              /*Bootcamp Show CSS*/
/*----------------------------------------------*/


.homepage_image {
  width: 100%;
}
































