

/*----------------------------------------------*/
              /*Melissa's CSS*/
/*----------------------------------------------*/

.user-photo img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.user-review-info {
  text-align: center;
}

header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

.img-responsive {
  max-width: 200px;
  max-height: 200px;
  border: solid white 10px;

}
.bootcamp-header {
  background-color: red;
  position: relative;
  display: inline-block;
}

#review {
  margin-bottom: 30px;
  margin-top: 30px;
}
.column {
  text-align: left;
  text-decoration: none;
}

.under li {
  display: inline;
}

.header-image {
  position: absolute;
  width: 100%;
}

.bootcamp-photo {
  position: absolute;
  width: 100%;
  float: left;

}

.bootcamp-info {
  float: left;
  padding-right: 50px;
}


.rating-boxes {
  padding: 20px 10px 20px 10px;
  border: solid white 1px;
  color: #fff;
  background-color: #18bc9c;
}

.review {
  margin-top: 10px;
}

.more {
  text-align: right;
}

.more hover {
  background-color: yellow;
}





.footer {
  background-color: grey;
}
