// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-wrapper {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

#new-user {
	text-align: user;
}

#signup-button {
	margin-top: 5px;
}

.new-user-form {
	width: 200px;
	margin-top: 5px;
	margin-bottom: 5px;
}