/*---------------------------------------------
*/
                    /*navbar*/
/*---------------------------------------------*/

.navbar .navbar-custom .navbar-fixed-top {
  z-index: 99999;
}

.home_brand > a {
  margin-left: -35px;
  font-size: 30px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: transparent;
  outline: none;
}

.home_nav_button > li > a {
  background-color: transparent;
  text-decoration: none;
  color: rgb(128,128,128);
  border: none;
  margin-left: 20px;
  margin-right: 35px;
  font-size: 30px;
  outline: none;
}

.home_nav_button > li > a:hover {
  text-decoration: none;
  color: white;
}


/*---------------------------------------------
*/
                  /*home body*/
/*---------------------------------------------
*/


.home_body {
  background-color: #8E8E8E;
}











