<form id="bootcamp-review-form">
	<textarea cols="30" rows="5" name="bootcamp_review[content]" placeholder='Bootcamp'></textarea>
<!-- 	<input id="rate-campus" type="number" name="bootcamp_review[campus]"/> -->
</form>

<form id="instructor-review-form">
	<textarea cols="30" rows="5" id="instructor-review-form" name="instructor_review[text]" placeholder='Instructor'></textarea>
</form>

<button id="review-submit" class="btn btn-default">Submit</button>