<%= render 'partials/nav_show' %>

<header>
    <div class="container">
      <div class="row">
        <div class="col-lg-4"></div>
          <div class="col-lg-4 intro-text">
              <span class="name">General Assembly</span>

                    <div class="bootcamp-info"></div>
                </div>
            </div>

</header>





		<h1>Reviews Contd</h1>

<% @reviews.each do |f| %>
  <h1> <%= f.body %> </h1>
<% end %>
